<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803815381476-09mh6sa5srq554la4p7ro05upvsq687a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803815381476-09mh6sa5srq554la4p7ro05upvsq687a</string>
	<key>API_KEY</key>
	<string>AIzaSyDdd8jXjHLAZM4ZoCgSLcDvGVXHNBE8rJs</string>
	<key>GCM_SENDER_ID</key>
	<string>803815381476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.russellgordon.PasswordlessSwiftUIApp</string>
	<key>PROJECT_ID</key>
	<string>passwordless-swiftui-26a99</string>
	<key>STORAGE_BUCKET</key>
	<string>passwordless-swiftui-26a99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803815381476:ios:5db838aed0e2aeadbb8ff1</string>
	<key>DATABASE_URL</key>
	<string>https://passwordless-swiftui-26a99.firebaseio.com</string>
</dict>
</plist>